<h1>Tracker results</h1>

@if (Results.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Breed</th>
                <th>Color</th>
                <th>Distance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in Results)
            {
                <tr>
                    <td><img width="50" height="50" src="@result.ImagePath" alt="Picture of a cat named @result.Name" /></td>
                    <td><strong>@result.Name</strong></td>
                    <td>@result.Breed</td>
                    <td>@result.Color</td>
                    <td>@(result.Distance.ToString("#.##"))km</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div style="font-size: 30px">
        Sorry, no cats match.
    </div>
}

@code {
    [Parameter]
    public IList<CatTrackerResult> Results { get; set; }
}
